.notifications-container {
    position: relative;
    transition: transform 0.3s ease;
}

.notifications-panel {
    position: absolute;
    top: calc(100% - 48px);
    width: 400px;
    background-color: var(--primary-color);
    border: 2px solid #a2adae;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
}

.notification {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bdc3c7;
}

.notifications--expanded {
    transform: translateX(220px);
}

.notifications--collapsed {
    transform: translateX(90px);
}

.notification:last-child {
    border-bottom: none;
}

.notification .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #2490d7;
}

.notification .content {
    flex: 1;
}

.notification .content p {
    margin: 0;
    color: var(--white-color);
    font-size: 14px;
}

.notification .content a {
    color: #7bc1f0;
    text-decoration: none;
    font-weight: bold;
}

.notification .content a:hover {
    text-decoration: underline;
}

.notification .content span {
    font-size: 12px;
    color: #7f8c8d;
    display: block;
    margin-top: 5px;
}
