.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.title {
    text-align: left;
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 40px;
}

.studentLearnedCards {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 700px;
    padding: 10px 0;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card {
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card_title {
    font-size: 1.6rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_subtitle {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.card_author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card_author_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.card_author_name {
    font-size: 1rem;
    color: #333;
}

.card_button {
    padding: 10px 15px;
    background-color: #1affd5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card_button:hover {
    background-color: #17b4a6;
}

/* Box for Play Quiz */
.box {
    margin-top: 40px;
    padding: 20px 30px;
    background-color: #ff6f61;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: #ff5733;
}

.box_title {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}
