.auth-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.auth-form__container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.auth-form__tab {
    flex: 1;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    border-bottom: 2px solid transparent;
}

.auth-form__tab.active {
    color: #333;
    border-bottom-color: #9a38ff;
}

.auth-form__socials {
    margin-bottom: 20px;
}

.auth-form__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    text-decoration: none;
}

.auth-form__social-btn--google {
    color: #555;
    background: #fff;
}

.auth-form__social-btn--facebook {
    color: #fff;
    background: #4267b2;
}

.auth-form__divider {
    position: relative;
    text-align: center;
    margin: 20px 0;
    font-size: 12px;
    color: #586380;
}

.auth-form__divider span {
    background: #fff;
    padding: 0 10px;
}

.auth-form__form .auth-form__group {
    position: relative;
    margin-bottom: 20px;
}

.auth-form__label {
    float: left;
    color: #586380;
}

.auth-form__input {
    background-color: #f6f7fb;
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.auth-form__input::placeholder {
    font-weight: bold;
    font-size: 14px;
    background-color: var(--white-color);
    color: #586380;
    padding: 0;
}

.auth-form__forgot {
    position: absolute;
    right: 10px;
    top: 100%;
    font-size: 12px;
    color: #9a38ff;
    text-decoration: none;
}

.auth-form__terms p {
    font-size: 12px;
    color: #666;
}

.auth-form__terms input {
    margin-top: 10px;
    margin-right: 4px;
}

.auth-form__link {
    color: #9a38ff;
    text-decoration: none;
}

.auth-form__controls .auth-form__submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #9a38ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.auth-form__footer p {
    font-size: 14px;
    color: #666;
}

.auth-form__magic-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #9a38ff;
    text-decoration: none;
}
