@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');

body.dark-mode .header {
    background: rgba(0, 0, 0, 0.7);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 4rem;
    background-color: var(--primary-color);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    letter-spacing: 0.1ch;
}

.logo {
    font-size: 2.4rem;
    color: var(--white-color);
    font-family: 'Rubik Iso', cursive;
    font-weight: 900;
    letter-spacing: 0.1ch;
    margin-left: 50px;
    text-decoration: none;
    &:hover {
        opacity: 0.7;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav-links a:hover {
    opacity: 0.7;
}

.nav-links .active-link {
    color: rgb(151, 151, 151);
    text-decoration: underline;
}

.nav-links span {
    font-size: 0.8rem;
    color: white;
    margin: 0 0.5rem;
    margin-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
}

.buttons {
    display: flex;
    align-items: center;
}

@media (max-width: 650px) {
    .nav-links {
        position: absolute;
        height: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        flex-direction: column;
        top: 4rem;
        left: 0;
        overflow: hidden;
        gap: 0;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        height: 100%;
        transition: 0.2s ease-in-out;
    }
}
